body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
}

#main {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

.friends {
    list-style: none;
}

.friends img {
    float: left;
    margin-right: 10px;
}

.friends li {
    display: block;
}

.friends li .right {
    float: right;
}
.friends li label {
    display: block
}




.friends li input {
    float: right;
    margin-left: 10px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}